.card-style{
    margin:  200px 300px;
    font-style: italic;
}
.card-title{
    width: 500px;
    font-style: italic;
}
.card-title1{
    border-bottom:1px solid dimgray;
    font-size: medium;
    font-style: italic;

}
.button{
    width: 500px;
    margin-top: 60px;
}
.buttonGo{
    width: 500px;
}
.card{

    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #97B2DE;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
    height: 100vh;
  
  }
.title_p{
    margin-left: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}