
body{
    margin: 0;

}
.sidebarAdmin{
    height: 100vh;
    width: 250px;
    position:absolute;
    background-color:#092147;
}
.sidebar-list-admin{
    height: auto;
    padding: 0;
    width: 100%;

}
.sidebar-list-admin .sidebarRow{
width:100%;
height: 70px;
list-style-type:none;
display: flex;

flex-direction: row;
color: aliceblue;
justify-content: center;
align-items: center;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.sidebarRow #icon{
    flex: 30%;
    display: grid;
    place-items: center;
}
.sidebarRow #title{
    flex: 70%;
   
}
.logoSidebar{
    margin-top: 10px;
    margin-bottom: 5px;

}